# Lecture 26: Anotha' ANOVA 
***

We'll need Numpy, Matplotlib, Pandas, and scipy.stats for this notebook, so let's load them.

In [2]:
import numpy as np 
from scipy import stats
import statsmodels.api as sm 
import pandas as pd
import matplotlib.pylab as plt 
%matplotlib inline

/home/sinner/miniconda3/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

### Suppose we have data from an experiment

A number of otters were dressed in costumes and elementary school children were asked to bid on them to take them home as pets, using a token system. The costume types were octopus, robot, and panda. The question is whether the costumes actually have different effects from each other, or whether they are statistically the same.

In [13]:
# Let's load in the data and take a look
df = pd.read_csv("data/pro.csv")
df.head(11)

    octopuses  robots  pandas
0         2.0       5     7.0
1         4.0       5     4.0
2         7.0       3     6.0
3         1.0       4     8.0
4         2.0       4     6.0
5         1.0       7     6.0
6         5.0       2     2.0
7         NaN       2     9.0
8         NaN       6     NaN
9         NaN       3     NaN
10        NaN       6     NaN

In [15]:
#df = df.dropna()
grand_mean = (df['octopuses'].sum() + df['robots'].sum() + df['pandas'].sum()) / (df['octopuses'].count() + df['robots'].count() + df['pandas'].count()) 
octo_ybar = df['octopuses'].mean()
print(df['octopuses'].count())
print(df['robots'].count())
robot_ybar = df['robots'].mean()
pandas_ybar = df['pandas'].mean()


# I = 3
# N = total N
# n = number of items in cur group

SSB = ((octo_ybar - grand_mean)**2) + ((pandas_ybar - grand_mean)**2) + ((robot_ybar - grand_mean)**2)
print(SSB)

7
11
4.14348962726

In [33]:
#dblarremore code format
groups = {"robots","octopuses", "pandas"}
SSW = 0
N = 0
grand_sum = 0
for group in groups:
    y = df[group].dropna()
    ybar = np.mean(y)
    SSW += np.sum((y-ybar)**2)
    print("ybar:", ybar, "for", group)
    N += len(y)
    grand_sum += np.sum(y)
print("SSW", SSW)
I = len(groups)
print("I:", I)
grand_mean = grand_sum/N
print("grand_mean:" ,grand_mean)
print("N:", N)
    
SSB = 0
for group in groups:
    y = df[group].dropna()
    ybar = np.mean(y)
    ni = len(y)
    SSB += ni * (ybar - grand_mean)**2
    
SSBdof = I-1
SSWdof = N-I

Fstat = (SSB/SSBdof) / (SSW/SSWdof)
print('Fstatistic:', Fstat)
pval = 1-stats.f.cdf(Fstat, I-1, N-I)
print("p value:", pval)

ybar: 4.2727272727272725 for robots
ybar: 6.0 for pandas
ybar: 3.142857142857143 for octopuses
SSW 93.038961039
I: 3
grand_mean: 4.5
N: 26
Fstatistic: 3.88871440536
p value: 0.0350912029669

In [36]:
F,p = stats.f_oneway(
    df['octopuses'].dropna(), 
    df["pandas"].dropna(), 
    df['robots'].dropna()
)
print("F statistic:", F)
print("pvalue:", p)

F statistic: 3.88871440536
pvalue: 0.0350912029669

### Same result